.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  padding: 300px 0 112px;

  h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;

    margin-bottom: 3.75rem;

    span {
      color: var(--secondary);
    }
  }

  @media(max-width: 768px) {
    padding: 5rem 2rem 1rem;
   
    h1 {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }

  @media(max-width: 650px) {
    h1 {
      font-size: 1.625rem;
      line-height: 2rem;
      margin-bottom: 2.5rem;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 2rem;

  list-style: none;

  li {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    max-height: 36px;
    
    transition: all 0.4s;

    &:not(:first-child) {
      max-height: 76px;
      padding-top: 2.375rem;
      border-top: 2px solid #2E2E2E;
    }

    &:hover {
      cursor: pointer;
    }
  }

  strong {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;

    svg {
      width: 1.25rem;
      height: auto;
      transition: all 0.4s;
    }
  }

  p {
    color: var(--terciary);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;

    padding-left: 2rem;
    margin-top: 2.25rem;
  }

  @media(max-width: 768px) {

    strong {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  
    p {
      padding-left: 1.5rem;
      margin-top: 2.25rem;
    }
  }

  @media(max-width: 650px) {
    row-gap: 1rem;

    li {
      overflow: hidden;
      max-height: 54px;
      
      &:not(:first-child) {
        max-height: 72px;
      }
    }

    strong {
      font-size: 1rem;
      line-height: 1.375rem;
      
      svg {
        width: 1rem;
        margin-left: 3.5rem;
      }
    }
  
    p {
      font-size: 0.75rem;
      padding-left: 0.5rem;
      margin-top: 1rem;
    }
  }

  li.active {
    max-height: 2000px;

    svg {
      color: var(--secondary);
      transform: rotate(-180deg);
    }
  }

}