.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 300px 0;

  h1 {
    font-size: 4rem;
    line-height: 5.125rem;
    font-weight: 600;

    width: 100%;
    max-width: 495px;
    margin-bottom: 2.5rem;

    span {
      color: var(--secondary);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--terciary);
    
    max-width: 570px;
    width: 100%;
  }

  img {
    width: 500px;
    height: 347px;
  }

  @media(max-width: 768px) {
    padding: 8rem 2rem;

    flex-direction: column;
    justify-content: center;

    h1, p {
      max-width: 100%;
      text-align: center;
    }

    h1 {
      font-size: 3rem;
      line-height: 4rem;
      margin-bottom: 1.5rem;
    }
  
    p {
      font-size: 1.25rem;
      line-height: 2.25rem;
      margin-bottom: 4rem;
    }      
  
    img {
      width: 450px;
      height: auto;
    }
  }

  @media(max-width: 650px) {
    h1 {
      font-size: 1.625rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-bottom: 3rem;
    }  

    img {
      width: 80%;
    }
  }
}