.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  h1 {
    margin-top: auto;
    font-size: 4.5rem;
    line-height: 5.125rem;
    font-weight: 600;

    @media(max-width: 650px) {
      font-size: 3.5rem;
      line-height: 4rem;
    }
  }

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: relative;
  margin-top: 2rem;

  &::before {
    content: '';
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    width: 900px;
    height: 900px;
    opacity: 0.4;
    border-radius: 50%;
    filter: blur(100px);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(134, 207, 9, 0.258984) 20.31%, rgba(155, 240, 11, 0.3) 23.53%, rgba(0, 219, 0, 0.3) 35.42%, rgba(0, 123, 0, 0.3) 40.63%, rgba(0, 132, 0, 0.3) 49.51%);

    transition: all 1s;
  }

  &:hover::before {
    top: 40px;
    opacity: 0.6;
  }

  h2 {
    color: var(--secondary);
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin-bottom: 0.75rem;
  }

  > img {
    width: 1235px;
    height: 597px;
    z-index: 2;
  }

  @media(max-width: 768px) {
    > img {
      width: 100%;
      height: auto;
    }
  }

  @media(max-width: 650px) {
    margin-top: 0.5rem;

    h2 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }

    > img {
      width: 135%;
      height: auto;
    }
  }
}