.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  overflow: hidden;

  h1 {
    margin-top: auto;
    font-size: 4.5rem;
    line-height: 5.125rem;
    font-weight: 600;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: relative;
  margin-top: 2rem;

  &::before {
    content: '';
    position: absolute;
    top: 106px;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    opacity: 0.7;
    filter: blur(180px);
    border: 1px solid #000000;
    background: radial-gradient(circle, rgba(0,132,0,1) 0%, rgba(0,132,0,0.03) 58%, rgba(0,0,0,1) 75%);
  }

  h2 {
    color: var(--secondary);
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin-bottom: 0.75rem;
  }

  > img {
    width: 1235px;
    height: 597px;
    z-index: 2;
  }
}