* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

:root {
  --background: #0C0C0C;

  --primary: #FFF;
  --secondary: #9BF00B;
  --terciary: #C0C0C0;
  --quartenary : #777;
}
 
body {
  background: var(--background);
}

body, button, textarea, input {
  color: var(--primary);
  font: 400 1rem "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
