.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;

  header, section, footer {
    width: 100%;
    max-width: 1228px;
  }

  @media(max-width: 1228px) {
    header, footer {
      padding: 3rem 2rem;
    }
  }
}