.container {
  width: 100%;
  height: 800px;

  list-style: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  li {
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: all 0.6s;

    &:hover, &:active {
      filter: grayscale(0);
      transform: scale(1.15);
    }
  }

  @media(max-width: 768px) {
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
  }
}