.container {
  display: flex;
  align-items: center;
  position: relative;

  padding: 3rem 0;

  img {
    width: 144px;
    height: 44px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  flex: 1;

  ul {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    margin: 0 auto;
    list-style: none;

    li {
      display: flex;
      position: relative;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.25rem;
      text-transform: uppercase;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        margin: 0 auto;

        content: '';
        width: 0;
        height: 2px;
        background: var(--primary);

        transition: width 0.4s;
      }

      &:hover {
        cursor: pointer;

        &::after {
          width: 60%;
        }
      }
    }
  }

  @media(max-width: 768px){
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    flex-direction: column;
    align-items: center;
    background: black;
    z-index: 4;
    padding: 2rem;
    transform: translateX(-100vw);

    transition: all 0.4s;

    ul {
      flex-direction: column;
      margin: auto;
      row-gap: 2rem;

      li {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    &.active {
      transform: translateX(0);
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: var(--background);
  text-transform: uppercase;

  width: 224px;
  height: 45px;
  border-radius: 0.5rem;
  border: 0;
  background: var(--secondary);
}

.toggle {
  display: none;
  visibility: hidden;

  @media(max-width: 768px) {
    display: flex;
    visibility: visible;
  }

  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.375rem;

  width: 32px;
  height: 20px;
  margin-left: auto;
  z-index: 10;
  background: transparent;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--secondary);

    transition: all 0.4s;

    &:last-child {
      width: 70%;
    }
  }

  &-active {
    span:nth-child(1) {
      transform: translate(-4px, 9px) rotate(-45deg);
    }
    
    span:nth-child(2) {
      transform: translate(-4px, 1px) rotate(45deg);
    }

    span:nth-child(3) {
      width: 0;
    }
  }
}