.container {
  display: flex;
  align-items: center;
  padding: 5rem 0;

  img {
    width: 144px;
    height: 44px;
    margin-right: auto;
  }

  h4, a {
    font-weight: 400;
    color: var(--quartenary);
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  a {
    margin-left: 3.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  @media(max-width: 650px) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h4, a {
      text-align: right;
      font-size: 0.75rem;
      line-height: 1rem;
      margin: 0;
    }

    h4 {
      align-self: flex-end;
    }

    img {
      width: auto;
      height: 36px;
      grid-row: 1 / 3;
    }
  }
}
